// Tacit - CSS Framework for Dummies, Without Classes
@import url('https://unpkg.com/tacit-css@1.5.5/dist/tacit-css-1.5.5.min.css');

@import "~highlight.js/scss/a11y-dark";
@import "~notyf/notyf.min";

body {
 background-image: url("https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
 background-color: #cccccc;
}

a {
  color: black;
}

section h1:first-child {
    margin-top: 18px;
}

button[data-sharer] {
    color: #fff;
}

.test-css {
    padding: 5px;
    border: 2px solid blue;
}
